body
{
	font-family: Arial, Helvetica, sans-serif;
  width: 95%;
  max-width: 64em;
  margin: 0 auto;
  padding: 0;
  border: 0.1875em solid blue;
  box-shadow: 0 0.625em 1.25em 0.625em;
  color: lightblue;
  background-color: teal;
}

.navbar{
  background: steelblue;
  border-bottom: 0.1875em solid blue;
	max-width: 64em;
	width: 100%;
  height: 6em;
	margin: 0 auto;
	text-align: center;
}

a {
  text-decoration: none;
}

.navbar-nav a .active{
	color: gold;
}

.navbar-nav{
  width:90%;
}

.nav-item {
	position: relative;
  margin-left: 5%;
	margin-top: 5%;
	font-size: 280%;
}

.navbar-nav {
  color: white;
}

#gymLogo{
	padding-left: 5%;
	padding-top: .2em;
	height: 95%;
}

/*
ul {
  display: none;
}*/

#thumbnail{
	height: 50%;
	width: 50%;
}

li {
  display: inline;
}

label
{
  float:left;
  width:10em;
  margin-right: 1em;
  text-align: right;
  color: #203731;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="datetime"],
input[type="color"],
input[type="url"],
select
{
  width:300px;
  margin-bottom: .5em;
  font-size: .75em;
}

input[type="radio"],
input[type="checkbox"]
{
	margin-top: 5px;
	margin-bottom: 5px;
}

input[type="button"]
{
  width: 7em;
  font-size: 1.25em;
  color:#203731;
	margin-left: 5em;
}

input[type="submit"]
{
  width: 7em;
  font-size: 1.25em;
  color:#203731;
	margin-left: 5em;
}

input[type="reset"]
{
  width: 7em;
  font-size: 1.25em;
  color:#203731;
	margin-left: 5em;
}

span
{
	font-weight: bold;
	color: gold;
	margin-left: 5px;
}

#gymBanner{
	width: 100%;
	height: 23em;
}

#image {
  margin-left: 10%;
  width: 750px;
  height: 500px;
}

section{
	font-family: 'Playfair Display', serif;
	font-size: 120%;
}

#footer{
  background: steelblue;
  border-top: 0.1875em solid blue;
  text-align: center;
}

#welcome{
	font-size: 400%;
	text-align: center;
	color: orange;
	font-family: 'Righteous', serif;
}

#pageHeading{
	font-size: 400%;
	text-align: center;
	color: orange;
	font-family: 'Righteous', serif;
}


.slider-for{
	width: 500px;
	height: 380px;
	margin: 30px auto 1px;
	overflow: hidden;
}
#aboutMain img{
	width: 100%;
	min-height: 100%;
}
.slider-nav{
	width: 500px;
	height: 85px;
	margin: auto;
}
.slider-nav .slick-track{
	height: 85px;
}
.slick-arrow{
		position: absolute;
    top: 50%;
    z-index: 50;
    margin-top: -12px;
}
.slick-prev{
	left: 0;
}
.slick-next{
	right: 0;
}



#slides img{
	margin: 0 auto;
}

#image_list li{
	display: inline;
}


#bmiMain form{
	display: block;
	margin-left: 10%;
}

#bmiAside{
	float: right;
}

#contactForm{
	margin: 0 auto;
	display: block;
	margin-left: 5%;
	color: gold;
	font-size: 120%;
}

#contactForm label{
	margin: 0 auto;
	display: block;
	margin-left: 5%;
	color: gold;
}

#contactForm input{
	padding-left: 1%;
}

h2 {
    font-size: 120%;
    padding: .25em 0 .25em 25px;
    cursor: pointer;
    background: url(plus.png) no-repeat left center;
}

h2.minus {
    background: url(images/minus.png) no-repeat left center;
}

#faqs h2 {
    font-size: 150%;
    padding: .25em 0 .25em 25px;
    cursor: pointer;
    background: url(images/plus.png) no-repeat left center;
		text-align: center;
}

#faqs a:focus, #faqs a:hover {
	color: blue;
}

#faqs h2.minus {
    background: url(images/minus.png) no-repeat left center;
}

#faqs h1{
	color: orange;
	font-size: 300%;
}

#faqs div {
    display: none;
}
#faqs div.open {
    display: block;
}
#faqs ul {
    padding-left: 45px;
}
#faqs li {
    padding-bottom: .25em;
}
#faqs p {
    padding-bottom: .25em;
    padding-left: 25px;
}


footer p i{
	text-align: center;
}
